.fonts {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

#clr_bl {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#clr_yl {
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}